.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
 width: 101%;

    height: 92px;
    background-color: rgb(114, 221, 221);
    position: sticky;
    top: 0;
}
.logo{
    font-size: 24px;
    color: navy;
    margin-left: 20px;
}
.navlinks{
    display: flex;
    gap: 30px;
   padding: 20px;
   font-size: 20px;

 margin-right: 140px;
}
.link{
    text-decoration: none;
    font-weight: 600;
    color: rgb(240, 240, 237);
    padding: 8px;

}

.link:hover{
  
    color: rgb(140, 73, 203);
}
.menu{
    display: none;
    position: absolute;
    top: 0.5rem;
    right:2.5rem;
    width: 2.25rem;
    height: 2rem;
    margin-right: 40px;
align-content: center;
margin-top: 10px;


}

@media(max-width:480px){
    .menu{
        display: block;
    }
    .navbar{
        flex-direction: column;
        align-items: start;
       
    }
    .navlinks{
   display: none;
       margin-top: 20px;
        flex-direction: column;
        width: 80%;
        margin-bottom: 10px;
    }
   .navlinks.open {
        display: flex;
    }
   

    .link{
        width: 100%;
        text-align: center;
    }
    .link:hover{
        background: palevioletred;
        border-radius: 10px;
      
    }
}